@font-face {
  font-family: main-font;
  src: url(Pacifico.ttf);
}
a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #ddf;
}

a:active {
  color: #fff1;
}
#root {
  padding: 3%;
  display: grid;
  grid-template-areas: 'nav' 'main' 'gallery' 'footer';
  overflow-x: hidden;
  color: #fff;
  background: radial-gradient(circle, #5af 30%, #aaf 90%);
}
body {
  margin: 0;
  background-color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav {
  grid-area: nav;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr ;
  color: #fff;
}
.navitem{
 display: flex;
 align-items: center; /* Vertically align items if the height is different */
 justify-content: center;
}
nav h1 {
  margin: 0 0 0 30px;
  font-family: main-font;
  font-size: calc(23px + 1vw);
  text-shadow: -2px -3px 9px #bbf5, 2px 3px 9px #1132;
}
nav p {
  color: #fff;
  font-family: serif;
  font-size: calc(16px + 1vw);
  padding-left: 3vw;
  text-shadow: -2px -3px 9px #bbf5, 2px 3px 9px #1132;
}
nav svg{
  width: calc(20px + 1vw);
  padding-left: 5px;
  filter: drop-shadow(2px 3px 9px #1133);
}
main {
  margin: 2vw;
}
#main-block {
  font-family: "title";
  grid-area: main;
  padding: 3%;
  display: grid;
  grid-template-columns: 2fr 150px;
  color:#fff;
  background-color: #f9f9f955;
  border: solid 4px #f9f9f9;
  box-shadow: -2px -3px 9px #bbf, 2px 3px 9px #4293ef ;
 border-radius: 100px 9px 100px 9px ;
}
.filter {
  font-family: 'title';
  margin:0;
  height: 270px;
  max-width:120px;
  background-color: #f9f9f9;
  font-size: 14px;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 9px 9px 100px 100px ;
  padding: 15px;
  grid-gap: 10px;
  color: #333;
  box-shadow: -2px -3px 9px #bbf, 2px 3px 9px #4293ef ;
  animation-name: fadein;
  animation-duration: 1s;
}
.filter h1 {
  font-size: 20px;
   margin:0;
}
.filter p {
  margin:0;
  font-size: 17px;
}
label {
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
}
input[type=range] {
  cursor: pointer;
  width: 80%;
    }
input[type=checkbox] {
  width: 20px;
  height: 20px;
    }

#main-gallery {
  border-bottom: solid 4px #f9f9f9;
  border-top: solid 4px #f9f9f9;
  margin: 80px 5px 5px 0px;
  padding:2%;
  grid-area: gallery;
  min-height:800px;
  max-height: 300px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  animation-name: fadein;
  animation-duration: 2s;
  column-gap: 5px;
  font-size: calc(13px + 1vw);
  overflow-y: scroll;
  background-color: #fff3;
  

}
#main-gallery::-webkit-scrollbar {
    width: 15px;
    border-radius: 9px;
}
 
#main-gallery::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #3337;
    border-radius: 9px;
    margin: 5px;
}
 
#main-gallery::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 9px;
}

article img {
  display: grid;
  width: 300px;
  height: 100%;
  border-radius: 9px;
  color: #fff;
  box-shadow: -2px -3px 9px #bbf, 2px 3px 9px #4293ef ;
}

article h2 {
  width: 300px;
  height: 100px;
  font-size: 20px;
  border-radius: 10px;
  margin: 0;
}
footer {
  height:100%; 
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  color: #fff;
  font-size: 15px;
}
@keyframes fadein {
  from {
    transform: translateY(100px);
    opacity: 0.5;
  }
  to {}
}
@media screen and (min-width: 768px) {
  #main-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  #main-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  #main-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 2160px) {
  #main-gallery{
    grid-template-columns: repeat(6, 1fr);
  }
}
